body {
    font-family: 'Larsseit', sans-serif;
    font-weight: 500;
    font-size: 24px;
    background-color: #fff;
    color: #22356F;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    overflow-x: hidden;
}
header {
    display: flex;
    box-sizing: border-box;
}
.header-left {
    flex: 0 0 66%;
    padding-left: 12.5%;
    background-color: #F4F9E2;
    padding-bottom: 78px;
}
.header-right {
    flex: 0 0 34%;
    z-index: 9999;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 107px 0px 0px;
}
.company-name {
    font-size: 24px;
    letter-spacing: -0.035em;
    color: #62D0DF;
    text-decoration: none;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-right: 122px;
}
.nav-list-item {
    margin-left: 12px;
    margin-right: 12px;
}
.nav-list > li > a {
    text-decoration: none;
    font-size: 14px;
    color: #22356F;
    transition: 0.2s ease;
}
.nav-list > li > a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #F4F9E2;
    box-shadow: inset 0px -1px 0px #22356F;
}
.btn {
    background: #62D0DF;
    margin-top: 23px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 15px 26px;
    margin-left: 55px;
}
.info-block {
    letter-spacing: -0.7px;
}
.radius-bg-1 {
    position: absolute;
    transform: rotate(-31deg);
    border-radius: 312.159px;
    top: 88px;
    right: -200px;
    overflow: hidden;
    z-index: 10;
}
.bg-1 {
    background-image: url(../img/radius-bg.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 125px 39px;
    transform: rotate(31deg);
    margin-bottom: -100px;
    margin-left: -120px;
    margin-top: -150px;
    margin-right: 100px;
    width: 833px;
    height: 773px;
}
.radius-bg-2 {
    position: absolute;
    background: #EDFDFF;
    border-radius: 312.159px;
    transform: rotate(30deg);
    top: -100px;
    right: -9px;
    padding: 400px 270px 400px 237px;
    z-index: 10;
}
.company-name-2 {
    margin-top: 153px;
}
.h1-title {
    z-index: 100;
    font-size: 48px;
    margin-top: 35px;
    letter-spacing: -0.035em;
}
.description {
    line-height: 42px;
    margin-top: 60px;
}
.info-block > .flex-container {
    margin-top: 52px;
}
.functional-button {
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    letter-spacing: 0.1em;
    border: none;
    background-color: transparent;
    color: #FAB63E;
    transition: 0.2s ease;
    cursor: pointer;
}
.functional-button:hover {
    background-color:  #FAB63E;
    color: #fff;
}
